* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider {
    position: relative;
    background-color: #cacbcc;
    margin: 15px 20px;
}

.slider-btn {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    left: -15px;
    border-radius: 50% 50%;
    background-color: #FAFAFA;
    transform: translateY(-50%);
}

.slider-row {
    display: flex;
}


.slider-container {
    display: flex;
}