* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Liberation Sans", sans-serif;
    background: linear-gradient(top, #F0F0F0 , #EDEDED 50%, #CACBCD);
    height: 100vh;
}

.slider-container {
    display: flex;
}

.slider-detailsPlaceholder {
    align-self: center;
}

.slider-ring {
    stroke: #cacbcc;
}

.slider-row {
    display: flex;
    align-items: flex-end;
    padding: 2px 0;

    h2 {
        min-width: 140px;
        font-size: 50px;
        /* magic numbers so the font aligns as requested */
        height: 40px;
        line-height: 50px;
    }

    .slider-background {
        width: 16px;
        height: 11px;
        margin: 0 15px;
    }

    p {
        font-size: 12px;
    }
}